# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [161]:
# import numpy and pandas

import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [162]:
# Run this code:

pokemon = pd.read_csv('pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [163]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [164]:
# Your code here:

pokemon.groupby('Legendary').count()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,,,,,
False,735,735,735,374,735,735,735,735,735,735,735,735
True,65,65,65,40,65,65,65,65,65,65,65,65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [165]:
# Your code here:

legendary_mean = pokemon['Total'][pokemon['Legendary'] == True].mean().round(2)
legendary_std = pokemon['Total'][pokemon['Legendary'] == True].std().round(2)

non_legendary_mean = pokemon['Total'][pokemon['Legendary'] == False].mean().round(2)
non_legendary_std = pokemon['Total'][pokemon['Legendary'] == False].std().round(2)

print(f'Legendary mean: {legendary_mean}')
print(f'Legendary standard deviation: {legendary_std}')
print(f'Non-Legendary mean: {non_legendary_mean}')
print(f'Non-Legendary standard deviation: {non_legendary_std}')

Legendary mean: 637.38
Legendary standard deviation: 60.94
Non-Legendary mean: 417.21
Non-Legendary standard deviation: 106.76

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [166]:
# Your code here:

# ttest_ind calculates the T-test for the means of two independent samples of scores.

ttest = ttest_ind(pokemon['Total'][pokemon['Legendary'] == True], 
                  pokemon['Total'][pokemon['Legendary'] == False], 
                  equal_var = False)

What do you conclude from this test? Write your conclusions below.

In [167]:
# Your conclusions here:

alpha = 0.05
print(ttest.pvalue < alpha)

# Since p-value < alpha: 
# We do not reject H0: there is a significant difference between the means of Legendary and Non-Legendary pokemons

True

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [168]:
# Your code here

type_1 = pokemon['Type 1'].value_counts()
type_1

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [169]:
# Your code here:

water_mean = pokemon['Total'][pokemon['Type 1'] == 'Water'].mean().round(2)
water_std = pokemon['Total'][pokemon['Type 1'] == 'Water'].std().round(2)

all_other_mean = pokemon['Total'][pokemon['Type 1'] != 'Water'].mean().round(2)
all_other_std = pokemon['Total'][pokemon['Type 1'] != 'Water'].std().round(2)

print(f'Water mean: {water_mean}')
print(f'Water standard deviation: {water_std}')
print(f'All-other mean: {all_other_mean}')
print(f'All-other standard deviation: {all_other_std}')

Water mean: 430.46
Water standard deviation: 113.19
All-other mean: 435.86
All-other standard deviation: 121.09

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [170]:
# Your code here:

# ttest_ind calculates the T-test for the means of two independent samples of scores.

ttest_2 = ttest_ind(pokemon['Total'][pokemon['Type 1'] == 'Water'], 
                    pokemon['Total'][pokemon['Type 1'] != 'Water'], 
                    equal_var = False)
print(ttest_2)

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Write your conclusion below.

In [171]:
# Your conclusions here:

alpha = 0.05
print(ttest_2.pvalue < alpha)

# Since p-value > alpha: 
# We reject H0: there is no significant difference between the means of the Water and all other pokemons

False

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [172]:
# Your code here:

# Test for significant difference between each Pokemon's defense and attack scores
# H0: the defense and attack scores are equal

attack = pokemon['Attack']
defense = pokemon['Defense']

ttest_3 = stats.ttest_rel( attack, defense)
print(ttest_3)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [173]:
# Your conclusions here:

alpha = 0.05
print(ttest_3.pvalue < alpha)
      
# Since p-value > alpha: 
# We reject H0: there is NOT a significant difference between each Pokemon's defense and attack scores

True

We are also curious about whether there is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [174]:
# Your code here:

attack = pokemon['Sp. Atk']
defense = pokemon['Sp. Def']

ttest_4 = stats.ttest_rel( attack, defense)
print(ttest_4)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [175]:
# Your conclusions here:

alpha = 0.05
print(ttest_4.pvalue < alpha)

# Since p-value > alpha: 
# We reject H0: there is NOT a significant difference between the mean of special defense and 
# the mean of special attack

False

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [176]:
# Your code here:
    
# one sample t-test of the difference between defense and attack

alpha = 0.05
ttest_5 = stats.ttest_1samp(pokemon['Attack'] - pokemon['Defense'], 0)    
print(ttest_5.pvalue < alpha)

print(ttest_5 == ttest_3)

# Since p-value < alpha:  
# We do not reject H0:
# there is NOT a significant difference between each Pokemon's defense and attack scores

True
True

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [177]:
# Your code here:

contingency_table = pd.crosstab((pokemon['Type 1'] == 'Water'), pokemon['Legendary'])
contingency_table

Legendary  False  True
Type 1
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [178]:
# Your code here:
chi2, p, dof, ex = stats.chi2_contingency(contingency_table)

print('chi2:', chi2)
print('p:',p)
print('dof:', dof)
print('ex:', ex)

chi2: 2.9429200762850503
p: 0.08625467249550949
dof: 1
ex: [[632.1  55.9]
 [102.9   9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [179]:
# Your answer here:

# interpret test-statistic

confidence = 0.95
critical = stats.chi2.ppf(prob, dof)
if abs(chi2) >= critical:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

Independent (fail to reject H0)

In [180]:
alpha = 1 - confidence
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

Independent (fail to reject H0)